PORT=3000
MONGO_URI=mongodb://KMILA:12345678@localhost:27018/?authSource=admin
POSTGRES_URI=postgresql://postgres:12345678@localhost:5432/megastore
FILE_DATA_CSV=./data/AM-prueba-desempeno-data_m4.csv